/web/bundles/
/web/components/
/web/html/
/web/js/
/web/libs/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/node_modules/
/vendor/
/bin/
/composer.phar

composer.lock
diff.diff

