 <!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
  <script type="text/javascript" src="/components/angular/angular.min.js"></script>
  <script type="text/javascript" src="/components/angular-ui-router/release/angular-ui-router.js"></script>
  {% javascripts '@AcmeStoreBundle/Resources/public/js/*' %}
      <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <body>
    <div ng-app="andrey">
      <input ng-model="test">  
      [[test]]
      <h1>This is a Heading</h1>
      <p>This is a paragraph.</p>

      <div ng-controller="productFormCtrl">
        
      </div>
    </div>
  </body>
</html> 