<div style="border: 1px solid blue; text-align: center;">
  <div class="nav nav-pills">
    <button class="btn" ng-click="typeChange('product')">Product</button>
    <button class="btn" ng-click="typeChange('category')">Categories</button>
    <button class="btn" ng-click="typeChange('contact')">Contacts</button>
  </div>
</div>

<div>Шаблон по умолчанию</div>

<div ng-show="type==='product'">
	<table class="table-condensed" >
	  <tr ng-repeat="product in products" style="border: 1px solid green;">
	    <td>[[product.id]]</td>
	    <td>[[product.name]]</td>
	  </tr>
	</table>
</div>

<div ng-show="type==='category'">
	<table class="table-condensed" >
	  <tr ng-repeat="category in categories" style="border: 1px solid blue;">
	    <td>[[category.id]]</td>
	    <td>[[category.name]]</td>
	  </tr>
	</table>
</div>
<div ng-show="type==='contact'">Contacts</div>